<a href="https://colab.research.google.com/github/Peckkie/DPDM2021/blob/main/2_COVID_19_Data_Downloading_and_Cleansing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os
os.chdir( '/content/drive/MyDrive/DPDM_ME/my_project/data') # local path
!pwd

/content/drive/MyDrive/DPDM_ME/my_project/data

# Countries in the world by population (2021)
LINK: https://www.worldometers.info/world-population/population-by-country/

## Libraries

In [8]:
# import libraries
# ================

# for date and time opeations
from datetime import datetime
# for file and folder operations
import os
# for regular expression opeations
import re
# for listing files in a folder
import glob
# for getting web contents
import requests 
# storing and analysing data
import pandas as pd
# for scraping web contents
from bs4 import BeautifulSoup
# regular expression
import re
# numerical analysis
import numpy as np

In [9]:
# get data
# ========

# link at which web data recides
link = 'https://www.worldometers.info/world-population/population-by-country/'
# get web data
req = requests.get(link)
# parse web data
soup = BeautifulSoup(req.content, "html.parser")

In [10]:
# find the table
# ==============
# our target table is the last table in the page

# get the table head
# table head may contain the column names, titles, subtitles
thead = soup.find_all('thead')[-1]
# print(thead)

# get all the rows in table head
# it usually have only one row, which has the column names
head = thead.find_all('tr')
# print(head)

# get the table tbody
# it contains the contents
tbody = soup.find_all('tbody')[0]
# print(tbody)

# get all the rows in table body
# each row is each state's entry
body = tbody.find_all('tr')
# print(body)

In [11]:
# get the table contents
# ======================

# container for header rows / column title
head_rows = []
# container for table body / contents
body_rows = []

# loop through the head and append each row to head
for tr in head:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    head_rows.append(row)
# print(head_rows)

# loop through the body and append each row to body
for tr in body:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    body_rows.append(row)
# print(head_rows)

In [12]:
df_bs = pd.DataFrame(body_rows[:len(body_rows)-6], 
                     columns=head_rows[0])         

# Drop 'S. No.' column
# df_bs.drop('S. No.', axis=1, inplace=True)

df_bs.head(5)

   # Country (or dependency) Population (2020)  ... Med. Age Urban Pop % World Share
0  1                   China     1,439,323,776  ...       38        61 %     18.47 %
1  2                   India     1,380,004,385  ...       28        35 %     17.70 %
2  3           United States       331,002,651  ...       38        83 %      4.25 %
3  4               Indonesia       273,523,615  ...       30        56 %      3.51 %
4  5                Pakistan       220,892,340  ...       23        35 %      2.83 %

[5 rows x 12 columns]

In [13]:
# drop unwanted columns
df_bs = df_bs.drop('#', axis=1)
df_bs.head(5)

  Country (or dependency) Population (2020)  ... Urban Pop % World Share
0                   China     1,439,323,776  ...        61 %     18.47 %
1                   India     1,380,004,385  ...        35 %     17.70 %
2           United States       331,002,651  ...        83 %      4.25 %
3               Indonesia       273,523,615  ...        56 %      3.51 %
4                Pakistan       220,892,340  ...        35 %      2.83 %

[5 rows x 11 columns]

In [14]:
df_bs.to_csv('Net_Change.csv', index=False)

# Countries ranked by life expectancy
Link: https://www.worldometers.info/demographics/life-expectancy/#countries-ranked-by-life-expectancy

In [15]:
# import libraries
# ================

# for date and time opeations
from datetime import datetime
# for file and folder operations
import os
# for regular expression opeations
import re
# for listing files in a folder
import glob
# for getting web contents
import requests 
# storing and analysing data
import pandas as pd
# for scraping web contents
from bs4 import BeautifulSoup
# regular expression
import re
# numerical analysis
import numpy as np

In [16]:
# get data
# ========

# link at which web data recides
link = 'https://www.worldometers.info/demographics/life-expectancy/'
# get web data
req = requests.get(link)
# parse web data
soup = BeautifulSoup(req.content, "html.parser")

In [17]:
# find the table
# ==============
# our target table is the last table in the page

# get the table head
# table head may contain the column names, titles, subtitles
thead = soup.find_all('thead')[-1]
# print(thead)

# get all the rows in table head
# it usually have only one row, which has the column names
head = thead.find_all('tr')
# print(head)

# get the table tbody
# it contains the contents
tbody = soup.find_all('tbody')[0]
# print(tbody)

# get all the rows in table body
# each row is each state's entry
body = tbody.find_all('tr')
# print(body)

In [18]:
# get the table contents
# ======================

# container for header rows / column title
head_rows = []
# container for table body / contents
body_rows = []

# loop through the head and append each row to head
for tr in head:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    head_rows.append(row)
# print(head_rows)

# loop through the body and append each row to body
for tr in body:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    body_rows.append(row)
# print(head_rows)

In [19]:
df_bs = pd.DataFrame(body_rows[:len(body_rows)-6], 
                     columns=head_rows[0])         

df_bs.head(5)

   #      Country  ... Females  Life Expectancy  Males  Life Expectancy
0  1    Hong Kong  ...                     88.17                  82.38
1  2        Japan  ...                     88.09                  81.91
2  3        Macao  ...                     87.62                  81.73
3  4  Switzerland  ...                     86.02                  82.42
4  5    Singapore  ...                     86.15                  82.06

[5 rows x 5 columns]

In [20]:
df_bs = df_bs.drop('#', axis=1)
df_bs.head(5)

       Country  ... Males  Life Expectancy
0    Hong Kong  ...                  82.38
1        Japan  ...                  81.91
2        Macao  ...                  81.73
3  Switzerland  ...                  82.42
4    Singapore  ...                  82.06

[5 rows x 4 columns]

In [21]:
# save as .csv file
df_bs.to_csv('Countries_ranked_by_life_expectancy.csv', index=False)