<a href="https://colab.research.google.com/github/Peckkie/DPDM2021/blob/main/Data_preprocessing_(Chapter_3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [105]:
# คำสั่ง  drive.mount : เป็นผูก google drive กับ colab
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [106]:
# Packet " os " จัดการ ไฟล์ เเละ path 
import os
os.chdir( '/content/drive/MyDrive/DPDM2021_DATA') # local path
!pwd

/content/drive/.shortcut-targets-by-id/14FXB7QGrZpxLIovRThxiO13jXOQcFZ5k/DPDM2021_DATA

In [3]:
import os
import pandas as pd 
data_covid_cases = pd.read_csv( '/content/drive/MyDrive/DPDM2021_DATA/confirmed-cases.csv')
data_covid_cases.head(3)

   No. announce_date  ... province_of_onset district_of_onset
0    1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1    2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2    3     22/1/2020  ...            นครปฐม             เมือง

[3 rows x 11 columns]

# ชี้ข้อมูลในตาราง

In [4]:
data_covid_cases[['risk', 'age']] #เลือกมาเฉพาะตัวแปรที่สนใจ

                                    risk   age
0       คนต่างชาติเดินทางมาจากต่างประเทศ  61.0
1       คนต่างชาติเดินทางมาจากต่างประเทศ  74.0
2       คนต่างชาติเดินทางมาจากต่างประเทศ  73.0
3       คนต่างชาติเดินทางมาจากต่างประเทศ  68.0
4       คนต่างชาติเดินทางมาจากต่างประเทศ  66.0
...                                  ...   ...
512617                  ทัณฑสถาน/เรือนจำ   NaN
512618                  ทัณฑสถาน/เรือนจำ   NaN
512619                  ทัณฑสถาน/เรือนจำ   NaN
512620                  ทัณฑสถาน/เรือนจำ   NaN
512621                  ทัณฑสถาน/เรือนจำ   NaN

[512622 rows x 2 columns]

In [5]:
data_covid_cases['risk'][666] #แสดงค่าข้อมูลของตัวแปร risk ลำดับที่ 666

'สนามมวย'

# ชี้โดยใช่ .iloc[] (แปลงมุมมองให้เป็น matrix)

In [6]:
data_covid_cases.iloc[4,4] #แสดงค่าของเเถวที่ 4 หลักที่ 4
# ข้อดี คือสามารถตัดตาราง slicing แบบ matrix

66.0

In [7]:
data_covid_cases.iloc[-50:,:] #แสดง 50 เเถวสุดท้าย

           No. announce_date  ... province_of_onset district_of_onset
512572  512573     26/7/2021  ...               NaN               NaN
512573  512574     26/7/2021  ...               NaN               NaN
512574  512575     26/7/2021  ...               NaN               NaN
512575  512576     26/7/2021  ...               NaN               NaN
512576  512577     26/7/2021  ...               NaN               NaN
512577  512578     26/7/2021  ...               NaN               NaN
512578  512579     26/7/2021  ...               NaN               NaN
512579  512580     26/7/2021  ...               NaN               NaN
512580  512581     26/7/2021  ...               NaN               NaN
512581  512582     26/7/2021  ...               NaN               NaN
512582  512583     26/7/2021  ...               NaN               NaN
512583  512584     26/7/2021  ...               NaN               NaN
512584  512585     26/7/2021  ...               NaN               NaN
512585  512586     26/7/2021  ...               NaN               NaN
512586  512587     26/7/2021  ...               NaN               NaN
512587  512588     26/7/2021  ...               NaN               NaN
512588  512589     26/7/2021  ...               NaN               NaN
512589  512590     26/7/2021  ...               NaN               NaN
512590  512591     26/7/2021  ...               NaN               NaN
512591  512592     26/7/2021  ...               NaN               NaN
512592  512593     26/7/2021  ...               NaN               NaN
512593  512594     26/7/2021  ...               NaN               NaN
512594  512595     26/7/2021  ...               NaN               NaN
512595  512596     26/7/2021  ...               NaN               NaN
512596  512597     26/7/2021  ...               NaN               NaN
512597  512598     26/7/2021  ...               NaN               NaN
512598  512599     26/7/2021  ...               NaN               NaN
512599  512600     26/7/2021  ...               NaN               NaN
512600  512601     26/7/2021  ...               NaN               NaN
512601  512602     26/7/2021  ...               NaN               NaN
512602  512603     26/7/2021  ...               NaN               NaN
512603  512604     26/7/2021  ...               NaN               NaN
512604  512605     26/7/2021  ...               NaN               NaN
512605  512606     26/7/2021  ...               NaN               NaN
512606  512607     26/7/2021  ...               NaN               NaN
512607  512608     26/7/2021  ...               NaN               NaN
512608  512609     26/7/2021  ...               NaN               NaN
512609  512610     26/7/2021  ...               NaN               NaN
512610  512611     26/7/2021  ...               NaN               NaN
512611  512612     26/7/2021  ...               NaN               NaN
512612  512613     26/7/2021  ...               NaN               NaN
512613  512614     26/7/2021  ...               NaN               NaN
512614  512615     26/7/2021  ...               NaN               NaN
512615  512616     26/7/2021  ...               NaN               NaN
512616  512617     26/7/2021  ...               NaN               NaN
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[50 rows x 11 columns]

In [8]:
data_covid_cases.iloc[-50:,[3,6,8]] #เเสดงค่าคอลัมน์ที่ 3, 6, 8 ใน 50 แถวสุดท้าย

         sex nationality              risk
512572  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512573  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512574  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512575  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512576  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512577  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512578  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512579  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512580  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512581  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512582  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512583  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512584  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512585  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512586  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512587  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512588  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512589  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512590  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512591  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512592  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512593  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512594  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512595  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512596  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512597  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512598   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512599  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512600  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512601  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512602  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512603  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512604  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512605  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512606  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512607  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512608  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512609  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512610  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512611  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512612  หญิง         NaN  ทัณฑสถาน/เรือนจำ
512613   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512614   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512615   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512616   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512617   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512618   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512619   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512620   ชาย         NaN  ทัณฑสถาน/เรือนจำ
512621   ชาย         NaN  ทัณฑสถาน/เรือนจำ

# Descriptive Statistics of Data
สถิติ

In [9]:
data_covid_cases.describe()

                 No.            age
count  512622.000000  462839.000000
mean   256311.500000      35.529470
std    147981.369183      16.153885
min         1.000000       1.000000
25%    128156.250000      25.000000
50%    256311.500000      34.000000
75%    384466.750000      46.000000
max    512622.000000     108.000000

# Missing value

* Null
* NaN : Not a Number
* NA : Not Avvailable

In [10]:
data_covid_cases #ตารางมี Null คือ NaN

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [11]:
#คำลั่งที่ช่วยในการดูค่า Missing ด้าน column, any() คือ or ในแนว column (เอาค่าความจริงมา or กันทั้งหมด ถ้ามี 1 แสดงว่าเป็น True)
data_covid_cases.isnull().any()

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [12]:
data_covid_cases.isnull().all() #.all() คือ and ในแนว column (เอาค่าความจริงมา and กันทั้งหมด ถ้ามี 1 แสดงว่าเป็น True)
#ตรงข้าม .any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

# Handling Missing Value1 (ลบค่า missing)

In [13]:
data_covid_cases.shape

(512622, 11)

In [14]:
data_covid_cases_M1 = data_covid_cases.dropna() #คำสั่งลบ null->  .dropna()
data_covid_cases_M1.shape

(362205, 11)

size before drop = 1000

size after drop = 10

we lost 99% of data

In [15]:
print(f'size before drop = {len(data_covid_cases)}')
print(f'size after drop = {len(data_covid_cases_M1)}')
print(f'we lost {((len(data_covid_cases)-len(data_covid_cases_M1))/len(data_covid_cases))*100:.2f}% of data')

size before drop = 512622
size after drop = 362205
we lost 29.34% of data

In [16]:
((len(data_covid_cases)-len(data_covid_cases_M1))/len(data_covid_cases) )*100

29.342673548930794

## 1.5 ลบค่าmissing เฉพาะ column ที่เราสนใจ

In [17]:
data_covid_cases_M15 = data_covid_cases.dropna(subset=['Notified date', 'sex',	'age'])
data_covid_cases_M15.shape #data ที่หายไปมันน้อยลง

(449552, 11)

In [18]:
data_covid_cases_M1 = data_covid_cases.dropna() #คำสั่งลบ null->  .dropna()
data_covid_cases_M1.shape

(362205, 11)

## HW11
* print missing1.5

size before drop = 1000

size after drop = 10

we lost 99% of data

now we have x% more data than handing_missing1

In [19]:
print(f'size before drop = {len(data_covid_cases)}')
print(f'size after drop = {len(data_covid_cases_M15)}')
print(f'we lost {((len(data_covid_cases)-len(data_covid_cases_M15))/len(data_covid_cases))*100:.2f}% of data')
print(f'now we have {((len(data_covid_cases_M15)-len(data_covid_cases_M1))/len(data_covid_cases))*100:.2f}% more data than handing_missing1')

size before drop = 512622
size after drop = 449552
we lost 12.30% of data
now we have 17.04% more data than handing_missing1

# Handing Missing Value2 แทนด้วยค่าที่เหมาะสมหรือสร้าง class ใหม่

In [20]:
data_covid_cases.head()

   No. announce_date  ... province_of_onset district_of_onset
0    1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1    2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2    3     22/1/2020  ...            นครปฐม             เมือง
3    4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4    5     24/1/2020  ...     กรุงเทพมหานคร               NaN

[5 rows x 11 columns]

In [21]:
data_covid_cases['age'].mean(skipna=False) # ถ้า function ไม่ได้ป้องกันskipna=False

nan

In [22]:
data_covid_cases[['Notified date']] = data_covid_cases[['Notified date']].fillna('99/99/9999') #เติมค่า missing ให้กับตัวแปร Notified date
data_covid_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [23]:
data_covid_cases.isnull().any() #check Null

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

## ดู value column "Unit"

In [24]:
set(data_covid_cases['Unit']) # set -> หา unigue values

{' วัน', ' เดือน', nan, 'ปี', 'วัน', 'เดือน'}

##[PD] วิธีเลือกดู record โดยการกำหนดค่า

In [25]:
data_covid_cases[data_covid_cases['Unit']=='วัน'].sort_values(by = 'age') #sort_values เรียง ตัวแปร age จากน้อยไปมาก

           No. announce_date  ... province_of_onset district_of_onset
339653  339654     12/7/2021  ...       สมุทรปราการ            บางพลี
375821  375822     16/7/2021  ...       สมุทรปราการ    พระสมุทรเจดีย์
367305  367306     15/7/2021  ...       สมุทรปราการ  เมืองสมุทรปราการ
377872  377873     16/7/2021  ...     กรุงเทพมหานคร               NaN
409055  409056     19/7/2021  ...       สมุทรปราการ         พระประแดง
...        ...           ...  ...               ...               ...
19706    19707      2/2/2021  ...         สมุทรสาคร    เมืองสมุทรสาคร
321015  321016     10/7/2021  ...       สมุทรปราการ  เมืองสมุทรปราการ
291137  291138      6/7/2021  ...       สมุทรปราการ    พระสมุทรเจดีย์
443474  443475     22/7/2021  ...            นครปฐม           สามพราน
285988  285989      5/7/2021  ...            ชลบุรี           ศรีราชา

[64 rows x 11 columns]

In [26]:
data_covid_cases[data_covid_cases['Unit']==' วัน']

           No. announce_date  ... province_of_onset district_of_onset
138721  138722     27/5/2021  ...       สมุทรปราการ            บางพลี

[1 rows x 11 columns]

```python
data_frame[[list_of_logics]] #list_of_logics มีขนาดเท่ากับจำนวน record ของ data_frame
```

In [27]:
data_covid_cases['Unit']==' วัน' #list_of_logics

0         False
1         False
2         False
3         False
4         False
          ...
512617    False
512618    False
512619    False
512620    False
512621    False
Name: Unit, Length: 512622, dtype: bool

In [28]:
# groupby ดูจำนวนของ unit
data_covid_cases[['Unit','No.']].groupby(['Unit']).agg(['count'])

           No.
         count
Unit
 วัน         1
 เดือน      39
ปี      461483
วัน         64
เดือน     1436

In [29]:
# plt.rxParams['font.family'] = 'tahoma'
# plt.hist('font') #พิมพ์ตามอาจารย์

In [30]:
data_covid_cases[['Unit']] = data_covid_cases[['Unit']].fillna('ปี') 
data_covid_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [31]:
data_covid_cases[['nationality']] = data_covid_cases[['nationality']].fillna('Thailand')  #commond sense
data_covid_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

# Quiz 10  หา records ต่อไปนี้

records ที่ กักตัวที่ขอนแก่น

records ที่ กักตัวที่ ขอนแก่น+โคราช+อุดร

records ที่ เป็นผู้หญิงที่พบเชื้อที่ กทม

records ที่ เป็นผู้ชาย อายุ 18-22 ปี ที่กักตัวที่เชียงใหม่

In [142]:
# records ที่ กักตัวที่ขอนแก่น
data_covid_cases[data_covid_cases['province_of_isolation'] =='ขอนแก่น']

           No. announce_date  ... province_of_onset district_of_onset
181        182     18/3/2020  ...           ขอนแก่น             เมือง
463        464     22/3/2020  ...           ขอนแก่น             เมือง
1467      1468     30/3/2020  ...           ขอนแก่น             เมือง
1971      1972      3/4/2020  ...           ขอนแก่น             เมือง
2638      2639     15/4/2020  ...           ขอนแก่น            น้ำพอง
...        ...           ...  ...               ...               ...
505598  505599     26/7/2021  ...           ขอนแก่น           ภูเวียง
505599  505600     26/7/2021  ...           ขอนแก่น           ภูเวียง
511809  511810     26/7/2021  ...               NaN               NaN
511810  511811     26/7/2021  ...               NaN               NaN
511811  511812     26/7/2021  ...               NaN               NaN

[3707 rows x 11 columns]

In [143]:
# records ที่ กักตัวที่ ขอนแก่น+โคราช+อุดร
data_covid_cases[(data_covid_cases['province_of_isolation'] =='ขอนแก่น') |(data_covid_cases['province_of_isolation'] =='นครราชสีมา') |(data_covid_cases['province_of_isolation'] =='อุดรธานี') ]

           No. announce_date  ... province_of_onset district_of_onset
181        182     18/3/2020  ...           ขอนแก่น             เมือง
189        190     18/3/2020  ...        นครราชสีมา             พิมาย
207        208     18/3/2020  ...     กรุงเทพมหานคร               NaN
212        213     18/3/2020  ...        นครราชสีมา       วังน้ำเขียว
284        285     20/3/2020  ...        นครราชสีมา   เมืองนครราชสีมา
...        ...           ...  ...               ...               ...
507218  507219     26/7/2021  ...               NaN               NaN
507219  507220     26/7/2021  ...               NaN               NaN
511809  511810     26/7/2021  ...               NaN               NaN
511810  511811     26/7/2021  ...               NaN               NaN
511811  511812     26/7/2021  ...               NaN               NaN

[10539 rows x 11 columns]

In [144]:
#records ที่ เป็นผู้หญิงที่พบเชื้อที่ กทม
a = data_covid_cases[(data_covid_cases['sex'] =='หญิง') & (data_covid_cases['province_of_onset'] =='กรุงเทพมหานคร')]
a

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
5            6     25/1/2020  ...     กรุงเทพมหานคร               NaN
6            7     26/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
511560  511561     26/7/2021  ...     กรุงเทพมหานคร            ธนบุรี
511562  511563     26/7/2021  ...     กรุงเทพมหานคร         คลองสามวา
511566  511567     26/7/2021  ...     กรุงเทพมหานคร       บางขุนเทียน
511574  511575     26/7/2021  ...     กรุงเทพมหานคร         ลาดกระบัง
511577  511578     26/7/2021  ...     กรุงเทพมหานคร            บางบอน

[58896 rows x 11 columns]

In [145]:
# records ที่ เป็นผู้ชาย อายุ 18-22 ปี ที่กักตัวที่เชียงใหม่
a = data_covid_cases[(data_covid_cases['sex'] =='ชาย')&(data_covid_cases['province_of_isolation'] == 'เชียงใหม่')&(a['age'] >=18)&(a['age'] <=22)]
a

Empty DataFrame
Columns: [No., announce_date, Notified date, sex, age, Unit, nationality, province_of_isolation, risk, province_of_onset, district_of_onset]
Index: []

# Handing Missing Value3 แทนด้วยค่ากลาง

## เติมค่า missing "age"

In [32]:
data_covid_cases[['age']] = data_covid_cases[['age']].fillna(data_covid_cases['age'].mean()) #เติมด้วยค่าเฉลี่ย
data_covid_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

b a a a b b b 

a a a b b b b

## เติมค่า missing "sex"

In [33]:
sorted(list(data_covid_cases['sex'].dropna()))[int(len(list(data_covid_cases['sex']))/2)-1] #Mode

'หญิง'

In [34]:
data_covid_cases[['sex']].dropna().mode().iloc[0,0]#Mode

'ชาย'

In [35]:
data_covid_cases[['sex']] = data_covid_cases[['sex']].fillna(data_covid_cases[['sex']].dropna().mode().iloc[0,0]) #เติมด้วยค่าเฉลี่ย
data_covid_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [36]:
set(data_covid_cases['sex'])

{'ชาย', 'นาย', 'หญิง'}

## เติมค่า missing "province_of_isolation"

In [ ]:
data_covid_cases[data_covid_cases['province_of_isolation'].isnull()] #เติม province_of_isolation

         No. announce_date  ... province_of_onset district_of_onset
39        40     26/2/2020  ...     กรุงเทพมหานคร          ดอนเมือง
40        41     28/2/2020  ...           นนทบุรี               NaN
41        42     29/2/2020  ...     กรุงเทพมหานคร        วังทองหลาง
42        43      2/3/2020  ...     กรุงเทพมหานคร              สาทร
140      141     16/3/2020  ...     กรุงเทพมหานคร               NaN
...      ...           ...  ...               ...               ...
40815  40816     18/4/2021  ...               NaN               NaN
40816  40817     18/4/2021  ...               NaN               NaN
40817  40818     18/4/2021  ...               NaN               NaN
40830  40831     18/4/2021  ...               NaN               NaN
40831  40832     18/4/2021  ...               NaN               NaN

[508 rows x 11 columns]

In [ ]:
#findind Mode of province_of_isolation
data_covid_cases[['province_of_isolation']].dropna().mode().iloc[0,0]#Mode

'กรุงเทพมหานคร'

In [ ]:
#fill missing Mode to province_of_isolation
data_covid_cases[['province_of_isolation']] = data_covid_cases[['province_of_isolation']].fillna(data_covid_cases[['province_of_isolation']].dropna().mode().iloc[0,0]) #เติมด้วยค่า Mode
data_covid_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
512617  512618     26/7/2021  ...               NaN               NaN
512618  512619     26/7/2021  ...               NaN               NaN
512619  512620     26/7/2021  ...               NaN               NaN
512620  512621     26/7/2021  ...               NaN               NaN
512621  512622     26/7/2021  ...               NaN               NaN

[512622 rows x 11 columns]

In [ ]:
data_covid_cases[data_covid_cases['province_of_isolation'].isnull()] #checking isnull หลัง fillna

Empty DataFrame
Columns: [No., announce_date, Notified date, sex, age, Unit, nationality, province_of_isolation, risk, province_of_onset, district_of_onset]
Index: []

In [ ]:
# groupby ดูจำนวนของ unit
data_covid_cases[['province_of_isolation','No.']].groupby(['province_of_isolation']).agg(['count'])

                          No.
                        count
province_of_isolation
กระบี่                   1005
กรุงเทพมหานคร          162392
กาญจนบุรี                2756
กาฬสินธุ์                2047
กำแพงเพชร                1800
...                       ...
เพชรบุรี                11268
เพชรบูรณ์                1537
เลย                       853
แพร่                      467
แม่ฮ่องสอน                125

[77 rows x 1 columns]

In [ ]:
data_covid_cases[['sex']].dropna().mode().iloc[0,0]#Mode

'ชาย'

In [ ]:
# data_covid_cases[['province_of_isolation']] = data_covid_cases[['province_of_isolation']].fillna(data_covid_cases[['province_of_isolation']].dropna().mode().iloc[0,0]) #เติมด้วยค่าเฉลี่ย
# data_covid_cases

In [ ]:
# set(data_covid_cases['province_of_isolation'])

## HW12: การจัดการข้อมูลที่ซ้ำกัน ใน province_of_isolation

In [37]:
#checking isnull หลัง ก่อน fillna
print('Is null: ', len(data_covid_cases[data_covid_cases['province_of_isolation'].isnull()]))

Is null:  508

In [38]:
#สังเกตค่า "province_of_isolation" ที่ --NaN-- แล้ว 'province_of_onset' --not NaN--
data_covid_cases[data_covid_cases['province_of_isolation'].isnull()]

         No. announce_date  ... province_of_onset district_of_onset
39        40     26/2/2020  ...     กรุงเทพมหานคร          ดอนเมือง
40        41     28/2/2020  ...           นนทบุรี               NaN
41        42     29/2/2020  ...     กรุงเทพมหานคร        วังทองหลาง
42        43      2/3/2020  ...     กรุงเทพมหานคร              สาทร
140      141     16/3/2020  ...     กรุงเทพมหานคร               NaN
...      ...           ...  ...               ...               ...
40815  40816     18/4/2021  ...               NaN               NaN
40816  40817     18/4/2021  ...               NaN               NaN
40817  40818     18/4/2021  ...               NaN               NaN
40830  40831     18/4/2021  ...               NaN               NaN
40831  40832     18/4/2021  ...               NaN               NaN

[508 rows x 11 columns]

In [39]:
#step:1 fill missing--> 'None 'to province_of_isolation
data_covid_cases[['province_of_isolation_']] = data_covid_cases[['province_of_isolation']].fillna('None') #เติมด้วยค่า None
data_covid_cases

           No. announce_date  ... district_of_onset province_of_isolation_
0            1     12/1/2020  ...               NaN          กรุงเทพมหานคร
1            2     17/1/2020  ...               NaN          กรุงเทพมหานคร
2            3     22/1/2020  ...             เมือง                 นครปฐม
3            4     22/1/2020  ...               NaN          กรุงเทพมหานคร
4            5     24/1/2020  ...               NaN                นนทบุรี
...        ...           ...  ...               ...                    ...
512617  512618     26/7/2021  ...               NaN                 ชลบุรี
512618  512619     26/7/2021  ...               NaN                 ชลบุรี
512619  512620     26/7/2021  ...               NaN                 ชลบุรี
512620  512621     26/7/2021  ...               NaN                 ชลบุรี
512621  512622     26/7/2021  ...               NaN                 ชลบุรี

[512622 rows x 12 columns]

In [40]:
#step:2 เติมค่า'province_of_onset' --not NaN-- ใน  "province_of_isolation" ที่ --NaN--
isolation = list(data_covid_cases.province_of_isolation_)
onset = list(data_covid_cases.province_of_onset)
province_of_isolation_ =[]
for i in range(len(data_covid_cases)):
    if isolation[i] == 'None':
        province_of_isolation_.append(onset[i])
    else:
        province_of_isolation_.append(isolation[i])
data_covid_cases[['province_of_isolation_']] = province_of_isolation_
#checking isnull หลัง fillna ด้วย 'province_of_onset' --not NaN--
print('Is null: ', len(data_covid_cases[data_covid_cases['province_of_isolation_'].isnull()]))

Is null:  377

In [41]:
#step:3 fillna missing ที่เหลือด้วย ค่า Mode

    #findind Mode of province_of_isolation
print((data_covid_cases[['province_of_isolation_']].dropna().mode().iloc[0,0]))#Mode
data_covid_cases[['province_of_isolation_']] = data_covid_cases[['province_of_isolation_']].fillna(data_covid_cases[['province_of_isolation_']].dropna().mode().iloc[0,0]) #เติมด้วยค่า Mode
    #checking isnull หลัง fillna ด้วย 'province_of_onset' --not NaN--
print('Is null: ', len(data_covid_cases[data_covid_cases['province_of_isolation_'].isnull()]))

กรุงเทพมหานคร
Is null:  0

In [42]:
data_covid_cases

           No. announce_date  ... district_of_onset province_of_isolation_
0            1     12/1/2020  ...               NaN          กรุงเทพมหานคร
1            2     17/1/2020  ...               NaN          กรุงเทพมหานคร
2            3     22/1/2020  ...             เมือง                 นครปฐม
3            4     22/1/2020  ...               NaN          กรุงเทพมหานคร
4            5     24/1/2020  ...               NaN                นนทบุรี
...        ...           ...  ...               ...                    ...
512617  512618     26/7/2021  ...               NaN                 ชลบุรี
512618  512619     26/7/2021  ...               NaN                 ชลบุรี
512619  512620     26/7/2021  ...               NaN                 ชลบุรี
512620  512621     26/7/2021  ...               NaN                 ชลบุรี
512621  512622     26/7/2021  ...               NaN                 ชลบุรี

[512622 rows x 12 columns]

In [43]:
print('Is null: ', len(data_covid_cases[data_covid_cases['province_of_isolation_'].isnull()]))

Is null:  0

## อีกวิธีตามโคดอ.ต้น

In [44]:
# data_covid_cases[data_covid_cases['province_of_isolation'].isnull()]
print('Is null: ', len(data_covid_cases[data_covid_cases['province_of_isolation'].isnull()]))

Is null:  508

In [45]:
new_p_iso =[]
for row in data_covid_cases.iterrows(): #ทำงานทีละ row
    if pd.isna(row[1]['province_of_isolation']):
        if pd.isna(row[1]['province_of_onset']) == False: #ค่าว่าง
            new_p_iso.append(row[1]['province_of_onset']) 
        else:
            new_p_iso.append(data_covid_cases[['province_of_isolation_']].dropna().mode().iloc[0,0])# mode
    else:
        new_p_iso.append(row[1]['province_of_isolation'])

In [46]:
len(new_p_iso)

512622

In [47]:
data_covid_cases['province_of_isolation'] = new_p_iso

In [48]:
data_covid_cases.isnull().any()

No.                       False
announce_date             False
Notified date             False
sex                       False
age                       False
Unit                      False
nationality               False
province_of_isolation     False
risk                       True
province_of_onset          True
district_of_onset          True
province_of_isolation_    False
dtype: bool

In [ ]:
# print('Is null: ', len(data_covid_cases[data_covid_cases['province_of_isolation_'].isnull()]))

### Loop[PD]

In [ ]:
#วนแบบ iloc 
for i in range(10):
    this_data = data_covid_cases.iloc[i,6]

In [53]:
#วนแบบ iterrows
for record in data_covid_cases.iloc[:10,:] .iterrows():
    this_data = record
    print(this_data)
    print('-----------------------------------------------------')

(0, No.                                                      1
announce_date                                    12/1/2020
Notified date                                   99/99/9999
sex                                                   หญิง
age                                                     61
Unit                                                    ปี
nationality                                          China
province_of_isolation                        กรุงเทพมหานคร
risk                      คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                            กรุงเทพมหานคร
district_of_onset                                      NaN
province_of_isolation_                       กรุงเทพมหานคร
Name: 0, dtype: object)
-----------------------------------------------------
(1, No.                                                      2
announce_date                                    17/1/2020
Notified date                                   99/99/9999
sex                                                   หญิง
age                                                     74
Unit                                                    ปี
nationality                                          China
province_of_isolation                        กรุงเทพมหานคร
risk                      คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                            กรุงเทพมหานคร
district_of_onset                                      NaN
province_of_isolation_                       กรุงเทพมหานคร
Name: 1, dtype: object)
-----------------------------------------------------
(2, No.                                                      3
announce_date                                    22/1/2020
Notified date                                   99/99/9999
sex                                                   หญิง
age                                                     73
Unit                                                    ปี
nationality                                       Thailand
province_of_isolation                               นครปฐม
risk                      คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                                   นครปฐม
district_of_onset                                    เมือง
province_of_isolation_                              นครปฐม
Name: 2, dtype: object)
-----------------------------------------------------
(3, No.                                                      4
announce_date                                    22/1/2020
Notified date                                   99/99/9999
sex                                                    ชาย
age                                                     68
Unit                                                    ปี
nationality                                          China
province_of_isolation                        กรุงเทพมหานคร
risk                      คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                            กรุงเทพมหานคร
district_of_onset                                      NaN
province_of_isolation_                       กรุงเทพมหานคร
Name: 3, dtype: object)
-----------------------------------------------------
(4, No.                                                      5
announce_date                                    24/1/2020
Notified date                                   99/99/9999
sex                                                   หญิง
age                                                     66
Unit                                                    ปี
nationality                                          China
province_of_isolation                              นนทบุรี
risk                      คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                            กรุงเทพมหานคร
district_of_onset                                      NaN
province_of_isolation_                             นนทบุรี
Name: 4, dtype: object)
-----------------------------------------------------
(5, No.                                                      6
announce_date                                    25/1/2020
Notified date                                   99/99/9999
sex                                                   หญิง
age                                                     33
Unit                                                    ปี
nationality                                          China
province_of_isolation                        กรุงเทพมหานคร
risk                      คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                            กรุงเทพมหานคร
district_of_onset                                      NaN
province_of_isolation_                       กรุงเทพมหานคร
Name: 5, dtype: object)
-----------------------------------------------------
(6, No.                                                      7
announce_date                                    26/1/2020
Notified date                                   99/99/9999
sex                                                   หญิง
age                                                     57
Unit                                                    ปี
nationality                                          China
province_of_isolation                        กรุงเทพมหานคร
risk                      คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                            กรุงเทพมหานคร
district_of_onset                                      NaN
province_of_isolation_                       กรุงเทพมหานคร
Name: 6, dtype: object)
-----------------------------------------------------
(7, No.                                                      8
announce_date                                    26/1/2020
Notified date                                   99/99/9999
sex                                                   หญิง
age                                                     73
Unit                                                    ปี
nationality                                          China
province_of_isolation                      ประจวบคีรีขันธ์
risk                      คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                          ประจวบคีรีขันธ์
district_of_onset                                   หัวหิน
province_of_isolation_                     ประจวบคีรีขันธ์
Name: 7, dtype: object)
-----------------------------------------------------
(8, No.                                                      9
announce_date                                    28/1/2020
Notified date                                   99/99/9999
sex                                                    ชาย
age                                                     63
Unit                                                    ปี
nationality                                          China
province_of_isolation                        กรุงเทพมหานคร
risk                      คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                            กรุงเทพมหานคร
district_of_onset                                      NaN
province_of_isolation_                       กรุงเทพมหานคร
Name: 8, dtype: object)
-----------------------------------------------------
(9, No.                                                     10
announce_date                                    28/1/2020
Notified date                                   99/99/9999
sex                                                   หญิง
age                                                     28
Unit                                                    ปี
nationality                                          China
province_of_isolation                              นนทบุรี
risk                      คนต่างชาติเดินทางมาจากต่างประเทศ
province_of_onset                                  นนทบุรี
district_of_onset                                      NaN
province_of_isolation_                             นนทบุรี
Name: 9, dtype: object)
-----------------------------------------------------

### สามารถกำหนดค่าให้กับตารางทีละ column 
หรือสร้าง column ใหม่ให้กับตารางได้โดยใช้ list ที่มีจำนวนเท่ากับ record

In [ ]:
data_covid_cases['nee_col'] = list(range(data_covid_cases.shape[0])) #สร้าง column ใหม่ ในตาราง
data_covid_cases

In [51]:
import os
import pandas as pd 
data_cases2 = pd.read_csv( '/content/drive/MyDrive/DPDM2021_DATA/confirmed-cases.csv')

In [ ]:
data_cases2[pd.isna(data_cases2['province_of_isolation'])] #ดูค่า Nan อีกแบบ

# Handing Missing Value4 แทนด้วยค่ากลางของกลุ่ม

In [55]:
data_covid_cases.isnull().any()

No.                       False
announce_date             False
Notified date             False
sex                       False
age                       False
Unit                      False
nationality               False
province_of_isolation     False
risk                       True
province_of_onset          True
district_of_onset          True
province_of_isolation_    False
dtype: bool

## เติมค่า missing "risk"

In [ ]:
#risk  ความเสี่ยงในการติดโควิค --> ไม่ใช่ตัวเลขเราจะเอา Mode
# คนที่พบในเเต่ละจังหวัด Mode ความเสี่ยงเป็นอะไร

In [57]:
risk_list = list(set(data_covid_cases.risk))
print(risk_list)

[nan, 'อยู่ระหว่างสอบสวน', 'Cluster โรงงานทำขนม บางขุนเทียน', 'ไปยังพื้นที่ที่มีการระบาด', 'Cluster ตลาดบางแค/คลองขวาง', 'Cluster ปากช่อง', 'สนามมวย', 'Cluster เรือนจำกลางคลองเปรม', 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า OQ', 'ACF สีลม', 'สัมผัสผู้ป่วยยืนยัน ภายในครอบครัว/ชุมชน/เพื่อน', 'สัมผัสสามีสะอาด เขตบ้าน (รพ.มหาชัย 2)', 'ศูนย์กักกัน ผู้ต้องกัก', '2.สัมผัสผู้ติดเชื้อ', 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AOQ', 'Cluster บริษัทศรีสวัสดิ์', 'ระหว่างการสอบสวนโรค', 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า HQ/AHQ', 'ผู้ติดเชื้อในประเทศ', 'คนไทยมาจากพื้นที่เสี่ยง', 'อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงานใกล้ชิดสัมผัสชาวต่างชาติ เป็นต้น', 'ACF สนามกีฬาธูปะเตมีย์', 'อยู่ระหว่างการสอบสวน', 'Cluster โรงงาน QPP ประจวบฯ', 'เดินทางมาจากพื้นที่จังหวัดเสี่ยง', 'Cluster บางแค', 'Refer in', 'ACF เคหะหลักสี่', 'Cluster เรือนจำพิเศษมีนบุรี', 'Cluster โรงงาน  Big Star', 'ตรวจก่อนทำหัตถการ', 'Cluster บ่อนไก่อ่างทอง', 'Cluster จนท. สนามบินสุวรรณภูมิ', 'คนไทยเดินทางมาจากต่างประเทศ', 'ระหว่างสอบสวน', 'Cluster เรือนจำพิเศษธนบุรี', 'ทัณฑสถาน/เรือนจำ', 'สัมผัสใกล้ชิดผู้ป่วยยืนยันก่อนหน้า', 'สัมผัสผู้ป่วยยืนยัน อยู่ระหว่างสอบสวน', 'Cluster ทัณฑสถานหญิงกลาง', 'Cluster สมุทรสาคร', 'Cluster กรุงเทพมหานคร. คลองเตย', 'สัมผัสในสถานพยาบาล', 'Cluster บ่อนเทพารักษ์', 'Cluster ระยอง วิริยะประกันภัย', 'Cluster จันทบุรี (ชาวกินี)', 'State Quarantine', 'Cluster บ่อนพัทยา/ชลบุรี', 'ACF สนามกีฬาไทย-ญี่ปุ่น', 'ตลาด', 'ผู้ป่วย PUI', 'ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว', 'พิธีกรรมทางศาสนา', 'Cluster New Jazz กรุงเทพมหานคร', 'Cluster The Lounge Salaya', 'Cluster จันทบุรี', 'อยู่ระหว่างสอบสวนโรค', 'ผับหัวหิน', 'Cluster สมุทรปราการ (โรงงาน บริษัทเมทัล โปรดักส์)', 'Cluster ตลาดนนทบุรี', 'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้', 'การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน', 'สัมผัสผู้ป่วยยืนยันเพื่อนร่วมงาน', 'ไปยัง/มาจาก พื้นที่ระบาดกรุงเทพมหานครมหานคร', 'Cluster ตราด ', 'บุคลากรด้านการแพทย์และสาธารณสุข', 'Cluster ชลบุรี บริษัทไดกิ้น', 'สัมผัสผู้ป่วยที่ติดโควิด', 'Cluster ห้างแสงทอง (สายล่าง)', 'Cluster ทันฑสถานบำบัดพิเศษกลาง', 'อยู่ระหว่างการสอบสวน\n', 'Cluster โรงงาน standard can', 'ตรวจสุขภาพแรงงานต่างด้าว', 'อยุ่ระหว่างสอบสวน', 'สัมผัสผู้ป่วยยืนยัน \n อยู่ระหว่างสอบสวน', 'ไปแหล่งชุมชน/สถานที่คนหนาแน่น', 'Cluster จันทบุรี (ชาวกินี )', 'Cluster ตลาดบางแค', 'Cluster ชลบุรี', 'Cluster ตลาดพรพัฒน์', 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ', 'Cluster สมุทรปราการ ตลาดเคหะบางพลี', 'สัมผัสผู้ป่วยยืนยัน (ยังไม่สามารถระบุได้)', 'สัมผัสผู้ป่วยยืนยัน', 'ระบุไม่ได้', 'Cluster ชลบุรี โรงเบียร์ 90', 'อื่น', 'สัมผัสผู้ติดเชื้อยืนยัน\nอยู่ระหว่างสอบสวน', 'Cluster ระยอง', 'ไปสถานที่แออัด เช่น งานแฟร์ คอนเสิร์ต', 'Cluster คลองเตย', 'สัมผัสผู้ป่วยยืนยัน อยุ๋ระหว่างสอบสวน', 'สัมผัสใกล้ชิดผู้ป่วยยันยันก่อนหน้า', 'ไปสถานที่เสี่ยง เช่น ตลาด สถานที่ชุมชน', 'อาศัย/เดินทางไปในพื้นที่ที่มีการระบาด', 'ACF รองเมือง', 'Cluster ตลาดบางพลี', 'Cluster ตราด', 'Cluster งานมอเตอร์ โชว์', 'Cluster สมุทรปราการ GRP Hightech', 'สัมผัสผู้ติดเชื้อยืนยัน อยู่ระหว่างสอบสวน', 'คนไทยเดินทางกลับจากต่างประเทศ', 'ปอดอักเสบ Pneumonia', 'สถานที่ทำงาน', 'Cluster เครือคัสเซ่อร์พีคโฮลดิ้ง (CPG,CPH)', 'สัมผัสผู้เดินทางจากต่างประเทศ', 'สถานบันเทิง', 'Cluster ทัณฑสถานโรงพยาบาลราชทัณฑ์', 'Cluster เรือนจำพิเศษกรุงเทพ', 'แรงงานต่างด้าวตรวจก่อนขึ้นทะเบียน', 'ผู้เดินทางมาจากพื้นที่เสี่ยง กรุงเทพมหานคร.', 'เดินทางมาจากพื้นที่เสี่ยงที่มีการระบาดของโรค', 'รอประสาน', 'Cluster มหาสารคาม', 'cluster ชลบุรี\n(อยู่ระหว่างการสอบสวน)', 'Cluster สถานบันเทิงย่านทองหล่อ', "Cluster Memory 90's กรุงเทพมหานคร", 'รับจ้างขนของที่ตลาดท่ายาง', 'Cluster โรงงาน Big Star', 'ร้านอาหาร', 'Sandbox', 'Cluster Icon siam', 'เดินทางมาจากพื้นที่มีการระบาดของโรค', 'Cluster ผับ Thonglor', 'ค้นหาเชิงรุก', 'ผู้ป่วย กรุงเทพมหานคร', 'ปอดอักเสบ (Pneumonia)', 'ไปเที่ยวสถานบันเทิงในอุบลที่พบการระบาดของโรค Ubar', 'SHUI', 'อื่นๆ', 'คนต่างชาติเดินทางมาจากต่างประเทศ', 'Cluster ตลาดสี่มุมเมือง']

### ขอนแก่น

In [59]:
datakk = data_covid_cases[data_covid_cases['province_of_onset']=='ขอนแก่น']
datakk[['risk']].dropna().mode().iloc[0,0]

'ทัณฑสถาน/เรือนจำ'

In [66]:
datakk[['risk']] = datakk[['risk']] .fillna(datakk[['risk']].dropna().mode().iloc[0,0])
datakk.isnull().any()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

No.                       False
announce_date             False
Notified date             False
sex                       False
age                       False
Unit                      False
nationality               False
province_of_isolation     False
risk                      False
province_of_onset         False
district_of_onset          True
province_of_isolation_    False
dtype: bool

### อุบลราชธานี

In [67]:
dataUbon = data_covid_cases[data_covid_cases['province_of_onset']=='อุบลราชธานี']
dataUbon[['risk']].dropna().mode().iloc[0,0]

'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้'

In [68]:
dataUbon[['risk']] = dataUbon[['risk']] .fillna(dataUbon[['risk']].dropna().mode().iloc[0,0])
dataUbon.isnull().any()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

No.                       False
announce_date             False
Notified date             False
sex                       False
age                       False
Unit                      False
nationality               False
province_of_isolation     False
risk                      False
province_of_onset         False
district_of_onset          True
province_of_isolation_    False
dtype: bool

### กรุงเทพมหานคร

In [70]:
dataBKK= data_covid_cases[data_covid_cases['province_of_onset']=='กรุงเทพมหานคร']
dataBKK[['risk']].dropna().mode().iloc[0,0]

'การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน'

In [71]:
dataBKK[['risk']] = dataBKK[['risk']] .fillna(dataBKK[['risk']].dropna().mode().iloc[0,0])
dataBKK.isnull().any()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

No.                       False
announce_date             False
Notified date             False
sex                       False
age                       False
Unit                      False
nationality               False
province_of_isolation     False
risk                      False
province_of_onset         False
district_of_onset          True
province_of_isolation_    False
dtype: bool

### [PD] ต่อตารางแกน y

In [73]:
data = pd.concat([dataBKK, dataUbon, datakk])
data.head()

   No. announce_date  ... district_of_onset province_of_isolation_
0    1     12/1/2020  ...               NaN          กรุงเทพมหานคร
1    2     17/1/2020  ...               NaN          กรุงเทพมหานคร
3    4     22/1/2020  ...               NaN          กรุงเทพมหานคร
4    5     24/1/2020  ...               NaN                นนทบุรี
5    6     25/1/2020  ...               NaN          กรุงเทพมหานคร

[5 rows x 12 columns]

### วนลูปทำทุกจังหวัด

In [102]:
prov_list = list()
a = list(set(data_covid_cases['province_of_onset']))
aa= [a[0]]+a[2:]
for e_province in aa:
    print(e_province)
    dataCN = data_covid_cases[data_covid_cases['province_of_onset']==e_province]
    dataCN[['risk']] = dataCN[['risk']].fillna(dataCN[['risk']].dropna().mode().iloc[0,0])
    prov_list.append(dataCN) ## 
dataALL = pd.concat(prov_list)

นราธิวาส
พังงา
ตราด
ฉะเชิงเทรา
ปทุมธานีี
ยะลา
ลำปาง
บุรีรัมย์

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

สมุุทรปราการ
จังหวัดร้อยเอ็ด
ชัยภูมิ
นครสวรรค์
นครศรีธรรรมราช
อุบลราชธานี
พระนครศรีอยุธนา

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

แม่ฮ่องสอน
สมุทสงคราม
พระนครศรีอยุทธยา
ชลบุุรี
นนทุบรี
ระนอง
กัมพูชา

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

สมุทสาคร
นครประฐม
ไม่ระบุ
เพชรบุรี
กระบี่
สมุุทรสงคราม
เมือง
ลำพูน
อุดรธานีี
กาฬสินธ์ุ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

พิจิตร
ธารโต
นครศรี
สุรินทร์
เพรชบุรี
นครศรธรรมาช
ยานนาวา

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

พิษณุโลก
สุมุทรปราการ
ภูเพียง
หนองม่วงไข่
กาฬสินธิ์
สุพรรณบุรี
สุโขทัย
สุราษฎร์ธานี

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

เวียงจันทร์
สมุทรสาคร
สูงเม่น
ลพบุุรี
ขอนแก่่น
เด่นชัย
นครปฐม

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

หนองบัวลำภู
น่าน
นาราธิวาส
นครศรีราชสีมา
อุตรดิตถ์
หนองบััวลำภู
มหาสารคาม
สมุทรปาการ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

อุุดรธานี
สงขลา​
กาฬสิินธุ์
เพชบุรี
อุทัยธานี
ยโสธร
สรแก้ว
สมทรสาคร

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

ศีรษะเกษ
มุกดาหาร
ร้้อยเอ็ด
นตรปฐม
อยุธยา
ร้อยเอ็ด
แพร่
ปราจีนบุรี

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

ูภูเก็ต
หนองบัวลำภูู
สมุทราสาคร
นครศรีีธรรมราช
ปทุุมธานี
วังชิ้น
พระนครศรีอยุธยา

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

เมืองน่าน
ขอนแก่น
ชัยนาท
สิงห์บุรี
อุดรธานี
เรือ
นครราชสีมา
สมุทปราการ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

สงขขลา
สงขลา
ภูเก็ต
พระนตรศรีอยุธยา
ประจวบครีขันธ์
จันทบุรี
ศรีษะเกษ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

อุุดรธาน
ประจวบคีรีขันธื
ปลายพระยา
สมุทราปราการ
ตรัง
หนองคาย
สองแคว

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

บึงโขงหลง
ราชบุรี
นาวัง
ชััยภูมิ
นครศรีธรรมราช
ตาก
กรุงเทพมหานคร

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

สุทรปราการ
พัทลุง
สมุทรปราการ
ปทุมธานี
สตูล
บึงกาฬ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

พระนครศีรอยุธยา
ปทุมทานี
ชุุมพร
อุุทัยธานี
ร้อยเอ้ด
อุุตรดิตถ์
อุบลราขธานี
ศรีีสะเกษ
ปัว

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

เชียงราย
สระบุรี
ปัตตานี
นครสววรค์
ศรีสะเกษ
สมุทรสงคราม
ร้องกวาง

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

สระแก้ว
มหาสารคราม
บางกะปิ
เชียงใหม่
กำแพงเพชร
เวียงสา
บึึงกาฬ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

สถานที่ทำงาน
สุมุทรสาคร
นครนาชสีมา
บ้านหลวง
พะเยา
อำนาจเจริญ
เลย
ระยอง

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

สุุราษฎร์ธานี
นครพนม
มาเลเซีย
กาญจนบุรี
นครราชธสีมา
เพรบุรี
พระนครศรียุธยา
จ.ปัตตานี
นนทบุรี

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

พม่า
นครนายก
สอง
ประจวบคีรีขันธ์
ลพบุรี
ร้อยเอ็็ด
ศีรสะเกษ
นคนปฐม

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

สกลนคร
สระบุุรี
ชุมพร
กาฬสินธุ์
สมุุทรสาคร
ลอง
ลพบรี
เพชรบูรณ์
อ่างทอง

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

นคปฐม
พระนครศีอยุธยา
ปัตตานี​
สุมทรสาคร
ชลบุรี
หนองบัวลำำภู
สมุุทสาคร

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [103]:
dataALL

           No. announce_date  ... district_of_onset province_of_isolation_
144        145     16/3/2020  ...           สุคิริน               นราธิวาส
164        165     17/3/2020  ...           สุคิริน               นราธิวาส
358        359     21/3/2020  ...              แว้ง               นราธิวาส
360        361     21/3/2020  ...         สุไหงโกลก               นราธิวาส
361        362     21/3/2020  ...         สุไหงโกลก               นราธิวาส
...        ...           ...  ...               ...                    ...
507629  507630     26/7/2021  ...           บ้านบึง            อุบลราชธานี
508638  508639     26/7/2021  ...           ศรีราชา                   ตรัง
377313  377314     16/7/2021  ...        สุวรรณคูหา            หนองบัวลำภู
377314  377315     16/7/2021  ...            นาวััง            หนองบัวลำภู
387264  387265     17/7/2021  ...        กระทุ่มแบน               ร้อยเอ็ด

[447605 rows x 12 columns]

In [104]:
datamissingonset = data_covid_cases[pd.isna(data_covid_cases['province_of_onset'])] #จัดการค่า กลุ่ม province_of_onset --> Nan ด้วยการเติมค่า mode
datamissingonset

           No. announce_date  ... district_of_onset province_of_isolation_
415        416     22/3/2020  ...               NaN          กรุงเทพมหานคร
530        531     22/3/2020  ...               NaN          กรุงเทพมหานคร
556        557     22/3/2020  ...               NaN          กรุงเทพมหานคร
577        578     22/3/2020  ...               NaN          กรุงเทพมหานคร
589        590     22/3/2020  ...               NaN          กรุงเทพมหานคร
...        ...           ...  ...               ...                    ...
512617  512618     26/7/2021  ...               NaN                 ชลบุรี
512618  512619     26/7/2021  ...               NaN                 ชลบุรี
512619  512620     26/7/2021  ...               NaN                 ชลบุรี
512620  512621     26/7/2021  ...               NaN                 ชลบุรี
512621  512622     26/7/2021  ...               NaN                 ชลบุรี

[65017 rows x 12 columns]

In [105]:
datamissingonset[['risk']] = datamissingonset[['risk']].fillna(datamissingonset[['risk']].dropna().mode().iloc[0,0]) #fill missing by mode
dataALL = pd.concat([dataALL,datamissingonset]) #รวมตารางอีกรอบ
dataALL

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

           No. announce_date  ... district_of_onset province_of_isolation_
144        145     16/3/2020  ...           สุคิริน               นราธิวาส
164        165     17/3/2020  ...           สุคิริน               นราธิวาส
358        359     21/3/2020  ...              แว้ง               นราธิวาส
360        361     21/3/2020  ...         สุไหงโกลก               นราธิวาส
361        362     21/3/2020  ...         สุไหงโกลก               นราธิวาส
...        ...           ...  ...               ...                    ...
512617  512618     26/7/2021  ...               NaN                 ชลบุรี
512618  512619     26/7/2021  ...               NaN                 ชลบุรี
512619  512620     26/7/2021  ...               NaN                 ชลบุรี
512620  512621     26/7/2021  ...               NaN                 ชลบุรี
512621  512622     26/7/2021  ...               NaN                 ชลบุรี

[512622 rows x 12 columns]

In [106]:
dataALL.isnull().any()

No.                       False
announce_date             False
Notified date             False
sex                       False
age                       False
Unit                      False
nationality               False
province_of_isolation     False
risk                      False
province_of_onset          True
district_of_onset          True
province_of_isolation_    False
dtype: bool

In [107]:
dataALL = dataALL.sort_values(by='No.') #เรียง index จากน้อยไปมาก
dataALL

           No. announce_date  ... district_of_onset province_of_isolation_
0            1     12/1/2020  ...               NaN          กรุงเทพมหานคร
1            2     17/1/2020  ...               NaN          กรุงเทพมหานคร
2            3     22/1/2020  ...             เมือง                 นครปฐม
3            4     22/1/2020  ...               NaN          กรุงเทพมหานคร
4            5     24/1/2020  ...               NaN                นนทบุรี
...        ...           ...  ...               ...                    ...
512617  512618     26/7/2021  ...               NaN                 ชลบุรี
512618  512619     26/7/2021  ...               NaN                 ชลบุรี
512619  512620     26/7/2021  ...               NaN                 ชลบุรี
512620  512621     26/7/2021  ...               NaN                 ชลบุรี
512621  512622     26/7/2021  ...               NaN                 ชลบุรี

[512622 rows x 12 columns]

In [ ]:
dataALL.keys() #เช็คชื่อตัวแปร

# การทำงานกับ datetime-timestamp