<a href="https://colab.research.google.com/github/Peckkie/DPDM2021/blob/main/Data102(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# คำสั่ง  drive.mount : เป็นผูก google drive กับ colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Packet " os " จัดการ ไฟล์ เเละ path 
import os
os.chdir( '/content/drive/MyDrive/DPDM2021_DATA') # local path
!pwd

/content/drive/.shortcut-targets-by-id/14FXB7QGrZpxLIovRThxiO13jXOQcFZ5k/DPDM2021_DATA

# Open CSV File

In [5]:
import os #จัดการ file และ path

In [10]:
import pandas as pd #จัดการข้อมูลลักษณะตาราง

In [6]:
path ='/content/drive/MyDrive/DPDM2021_DATA/' #ที่อยู่ของข้อมูลที่โหลดมา

In [8]:
data = pd.read_csv(os.path.join(path,'thailand_covid-19_testing_data.csv')) #pd.read_csv(os.path.join(ที่อยู่ไฟล์,ชื่อไฟล์)) 
data.head(3) # table_name.head(3) เเสดงเเค่ข้อมูลเเค่ 3 เเถวเเรก

                  Date  positive  ...  Unnamed: 120  Unnamed: 121
0  Cannot specify date      2963  ...           NaN           NaN
1             1/1/2020         0  ...            31           NaN
2             2/1/2020         0  ...           Pos           Pos

[3 rows x 122 columns]

In [9]:
data_confirmed = pd.read_csv( '/content/drive/MyDrive/DPDM2021_DATA/confirmed-cases.csv')
data_confirmed.head(3)

   No. announce_date  ... province_of_onset district_of_onset
0    1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1    2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2    3     22/1/2020  ...            นครปฐม             เมือง

[3 rows x 11 columns]