<a href="https://colab.research.google.com/github/Peckkie/DPDM2021/blob/main/Data102(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# คำสั่ง  drive.mount : เป็นผูก google drive กับ colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Packet " os " จัดการ ไฟล์ เเละ path 
import os
os.chdir( '/content/drive/MyDrive/DPDM2021_DATA') # local path
!pwd

/content/drive/.shortcut-targets-by-id/14FXB7QGrZpxLIovRThxiO13jXOQcFZ5k/DPDM2021_DATA

# Open CSV File

In [5]:
import os #จัดการ file และ path

In [10]:
import pandas as pd #จัดการข้อมูลลักษณะตาราง

In [6]:
path ='/content/drive/MyDrive/DPDM2021_DATA/' #ที่อยู่ของข้อมูลที่โหลดมา

In [8]:
data = pd.read_csv(os.path.join(path,'thailand_covid-19_testing_data.csv')) #pd.read_csv(os.path.join(ที่อยู่ไฟล์,ชื่อไฟล์)) 
data.head(3) # table_name.head(3) เเสดงเเค่ข้อมูลเเค่ 3 เเถวเเรก

                  Date  positive  ...  Unnamed: 120  Unnamed: 121
0  Cannot specify date      2963  ...           NaN           NaN
1             1/1/2020         0  ...            31           NaN
2             2/1/2020         0  ...           Pos           Pos

[3 rows x 122 columns]

Nan/None : ค่าว่าง

# Selection:

In [18]:
#จัดการ Row and Column
data_new = data.iloc[1:,0:3] # table_name.iloc[เเถวเริ่มต้น : เเถวสุดท้าย, คอลัมเริ่มต้น : คอลัมสุดท้าย]
data_new.head()

       Date  positive  Total Testing
1  1/1/2020         0              0
2  2/1/2020         0              0
3  3/1/2020         0              0
4  4/1/2020         0              2
5  5/1/2020         0              2

In [17]:
#เลือกเฉพาะ column ที่สนใจ
datadf = data[['Date','positive','Total Testing']]
datadf.head()

                  Date  positive  Total Testing
0  Cannot specify date      2963          32131
1             1/1/2020         0              0
2             2/1/2020         0              0
3             3/1/2020         0              0
4             4/1/2020         0              2

# head(), tail()

In [19]:
data_new.head() #ดูหัวตาราง เเสดงเเค่ข้อมูลเเค่ 5 เเถวแรก

       Date  positive  Total Testing
1  1/1/2020         0              0
2  2/1/2020         0              0
3  3/1/2020         0              0
4  4/1/2020         0              2
5  5/1/2020         0              2

In [20]:
data_new.tail()#ดูท้ายตาราง เเสดงเเค่ข้อมูลเเค่ 5 เเถวสุดท้าย

          Date  positive  Total Testing
567  20/7/2021     68403          10152
568  21/7/2021     82325          12210
569  22/7/2021     62846          10623
570  23/7/2021     58851          10200
571  24/7/2021     67283          13745

In [23]:
data_new.head(20) # table_name.head(20) เเสดงเเค่ข้อมูลเเค่ 20 เเถวเเรก

         Date  positive  Total Testing
1    1/1/2020         0              0
2    2/1/2020         0              0
3    3/1/2020         0              0
4    4/1/2020         0              2
5    5/1/2020         0              2
6    6/1/2020         0              5
7    7/1/2020         0              0
8    8/1/2020         1              1
9    9/1/2020         4             13
10  10/1/2020         0             18
11  11/1/2020         0              3
12  12/1/2020         2              6
13  13/1/2020         2             14
14  14/1/2020         6              7
15  15/1/2020         5             12
16  16/1/2020         1              9
17  17/1/2020         0              5
18  18/1/2020         1             23
19  19/1/2020         1              6
20  20/1/2020         3             48

In [24]:
data_new.tail(20)# table_name.tail(20) เเสดงเเค่ข้อมูลเเค่ 20 เเถวสุดท้าย

          Date  positive  Total Testing
552   5/7/2021      4770          52017
553   6/7/2021      6066          70051
554   7/7/2021      6224          62695
555   8/7/2021      6624          66596
556   9/7/2021      6890          66267
557  10/7/2021      9045          74906
558  11/7/2021      8564          77848
559  12/7/2021      6391          56775
560  13/7/2021      7549          70798
561  14/7/2021      7877          65836
562  15/7/2021      8648          70403
563  16/7/2021      9627          73260
564  17/7/2021      9221          68384
565  18/7/2021     68326          12192
566  19/7/2021     64522           9466
567  20/7/2021     68403          10152
568  21/7/2021     82325          12210
569  22/7/2021     62846          10623
570  23/7/2021     58851          10200
571  24/7/2021     67283          13745

##จากค่าาสังเกต:
> column ' positive ' เเละ ' Total Testing' value น่าจะสลับที่กัน ??

![image.png]()

In [9]:
data_confirmed = pd.read_csv( '/content/drive/MyDrive/DPDM2021_DATA/confirmed-cases.csv')
data_confirmed.head(3)

   No. announce_date  ... province_of_onset district_of_onset
0    1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1    2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2    3     22/1/2020  ...            นครปฐม             เมือง

[3 rows x 11 columns]